@model HistoryApiSample.Models.SelectionViewModel

@{
    ViewBag.Title = "Show user selection";
}

<h2>Show user selection</h2>

<p>
    You've selected a @Model.Make @Model.Model .
    <br />
    <em>nice car!</em>
</p>